/*
Student Name: Kaisen Yamasaki
File Name: styles.css
Date: 02/14/2026
*/

/* CSS Reset */

html, body, header, nav, main, footer, div, section, article,
h1, h2, h3, h4, h5, p, ul, ol, li, a, img,  {
    margin: 0;
    padding: 0;
    border: 0;
}

/*Style rules for body and images*/
img {
    max-width: 100%;
    display: block;
}

body {
    color: #000000; 
    font-family: Arial, Helvetica, sans-serif; 
    line-height: 1.6;
}

/*Style rules for header area*/
header {
    background-color: #ffffff; 
    color: #000000;
    text-align: center;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 2.5em;
}

header h3 {
    text-align: left;
}

.headerimg {
    width: 100%;      
    height: auto;
}

/*Style rules for navigation area*/
nav {
    background-color: #3f5e3e;
}

nav ul {
    list-style: none; 
    text-align: center;
    margin: 0;
    padding: 0;
}

nav li {
    font-size: 1.5em;
    display: block;
    font-weight: bold;
    border-top: 0.5px solid #fff;
    text-align: center;
}

nav li a {
    display: block;
    color: #ffffff;
    text-decoration: none; 
    font-weight: bold;
    padding: 0.5em 2em;
}

/*Style rules for main content*/
main {
    padding: 2%;
    font-family: "Roboto", sans-serif;
}

main p {
    margin-bottom: 15px;
    font-size: 1.1em;
}

main ul {
  list-style-type: none;
}

article {
    background-color: #f4f4f4;
    padding: 2%;
    margin: 2% 1%;
    border: 3px solid #3f5e3e;
}

article h3 {
	text-align: left;
}

article p {
	max-width: 800px;
}

/*Style rules for footer content*/
footer {
    font-family: "IBM Plex Sans KR", sans-serif;; 
    background-color: #3f5e3e;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 0.9em;
}

/* a Style */

a {
    text-decoration: none;
}

/*Style rules for class and id selectors*/
.contact {
    text-align: center;
    font-weight: bold;
    color: #fff;
}

#contact {
    text-align: center;
}

.tel-link {
    background-color: #3f5e3e;
    padding: 2%;
    width: 80%;
    margin: 0 auto;
}

.tel-link a {
    color: #f6eee4;
    text-decoration: none;
    color: #f6eee4;
    font-weight: bold;
}

.homeimg {
  display: flex;
  width: 75%;
  height: 75%;
  margin: auto
}

.album {
  display: flex;
  align-items: flex-start;
  gap: 50px;            
  margin-bottom: 50px;  
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.cover {
  width: 300px;
  height: 300px;
  display: block;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.album h3 {
  margin-top: 0;
  text-align: left;
}

.album-info ol li {
  padding-right: 20px;
}

.round {
    border-radius: 6px;
}

.back {
    background-color: #f4f4f4;
    padding: 1%;
    width: 100%;
    margin: 10px auto;
    box-sizing: border-box; 
    clear: both;
    border-style: solid;
    border-color: #3f5e3e ;
}

.backhead {
    background-color: #f4f4f4;
    padding: 1%;
    width: 100%;
    margin: 10px auto;
    box-sizing: border-box; 
    clear: both;
    border-style: outset;
    border-color: #3f5e3e #768d57;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.bandm {
	display: flex;
	width: 220px;
	padding: 15px;
	flex-direction: column;
	gap: 1em;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.bandm h3 {
	margin-top: 0;
	text-align: center;
}

.bandimage {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 120px;
	height: auto;	
}

.member {
	display: block;
	align-items: center;
    flex-wrap: wrap;
}

.member ul {
	text-align: left;
	list-style: none;
	padding: 0;
}

.members {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;     
}

.e-link{
  margin: 20px auto 0;     
  text-align: center;      
}

.e-link a{
  display: inline-block;
  background-color: #0066cc;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 18px;      
  border-radius: 6px;     
}

.e-link a:hover {
  background-color: #004c99;   
}

#list h3 {
  color: #3f5e3e
}

#list a {
  text-decoration: underline;
}
  
/*Style rules for mobile viewport*/

	/*Style rules to show mobile class and hide tab-desk class*/
	.mobile {
    	display: block;
	}

	.tab-desk {
    	display: none;
	}

	/*Style rules for header area*/
	header h1, h3 {
    	padding: 2%;
    	text-align: center;
	}

	.mobile h1 {
    	font-family: Arial, sans-serif;;
	}

	/*Style rules for Albums*/
	.album {
    	display: flex;
    	flex-direction: column;
    	gap: 30px;
	}

	.album-cover, .album-info {
    	width: 100%;
	}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 720px), print {
    /* Tablet Viewport: Show tab-desk class, hide mobile class */
    .tab-desk {
        display: block;
    }
    .mobile {
        display: none;
    }
    /* Tablet Viewport: Style rules for nav area */
    nav li {
        border-top: none;
        display: inline-block;
        font-size: 1.25em;
    }

    /* Style rule for nav li a */
    nav li a {
        padding: 0.5em;
    }
}


/* Media Query for Desktop Viewport */
@media screen and (min-width: 1000px), print {
    /* Desktop Viewport: Style rules for header */

    
	/* Desktop Viewport: Style rule for header */
	header {
		padding: 2%;
	}
	
  /* Desktop Viewport: Style rules for the main content */
    main {
        border-style: none;
        overflow: auto;
    }
	
	/* Desktop Viewport: Style rules for nav area */
	nav li a {
		padding: 0.5em 1.5em;
	}
	
	nav li a:hover {
		color: #3f5e3e;
		background-color: #fff;
	}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1920px), print {  
    body {
        background: linear-gradient(#3f5e3e, #768d57);
    }
    
    #wrapper {
        width: 1920px;
        margin: 0 auto;
    }
    
    main {
        background-color: #fff;
    }
}

    colors #3f5e3e, #768d57, #d29538, #896626); 







































